:root {
	/** Colors */
	--color-purple: hsl(328, 29%, 43%);
	--color-blue: hsl(191, 57%, 88%);
	--color-white: #FFF;
	--font-body: 'Roboto';
	--unit: 0.9375rem;

	/** Fonts */
	--f-body: 'Roboto', sans-serif;
	--f-title: ''
}